<h2 class="title">Edit gallery</h2>

<% form_for [:admin, @gallery], :html => { :multipart => true } do |f| %>
	<%= f.error_messages %>
	
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name, :class => "titleField", :size => 39 %>
	</p>
	
	<p>
		<%= f.label :description %><br />
		<%= f.text_field :description, :size => 60 %>
	</p>
	
	<p>
		<%= submit_tag "Update" %>
	</p>
	
	<h3 class="title">Add an image</h3>
  <%= render :partial => "admin/assets/upload_form" %>

	<h3 class="title">Images</h3>

	<% for image in @gallery.images %>
		<div class="galleryImage">
			<%= image_tag image.upload.url(:thumb) %>
			<p>
				<%= radio_button_tag "image", image.id, image == @gallery.image %>
				<%= image_submit_tag "/images/tango/16px/delete.png", :value => image.id, :name => "destroy_image" %>
				<span class="description"><%= image.description %></span>
			</p>
		</div>
	<% end %>
<% end %>
