<h2 class="title">Galleries</h2>

<p><%= link_to "Add gallery", new_admin_gallery_path, :class => 'add' %></p>

<% bulk_options(bulk_action_admin_galleries_path) do |actions_available| %>

<table>
  <tr>
		<% if actions_available %>
	  	<th><input type="checkbox" id="bulk_check" /></th>
		<% end %>
    <th>Name</th>
    <th>Created</th>
		<th>Status</th>
  </tr>

	<% for gallery in @galleries %>
		<tr class="<%= cycle("odd", "even") %>">
			<% if actions_available %>
				<td class="checkbox"><input type="checkbox" name="galleries[<%= gallery.id %>]" /></td>
			<% end %>
	    <td><%= link_to gallery.name, { :id => gallery.id, :action => "edit" }, { :title => "Edit", :class => "listingTitle" } %><br />
	    		<%=h truncate(gallery.description, :length => 50, :ommission => "...") %>
	    </td>
		  <td style="text-align: center;"><%=h short_date(gallery.created_at) %></td>
		  <td style="text-align: center;">
			<% if gallery.published? %>
				<%= image_tag("tango/22px/publish.png", :alt => "Published") %>
			<% else %>
				<%= image_tag("tango/22px/unpublish.png", :alt => "Unpublished") %>
			<% end %>
			</td>
	  </tr>
	<% end %>
</table>

<% end %>
