<% title "Add gallery" %>

<% form_for [:admin, @gallery] do |f| %>
	<%= f.error_messages %>
	
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name, :class => "titleField", :size => 39 %>
	</p>
	
	<p>
		<%= f.label :description %><br />
		<%= f.text_field :description, :size => 60 %>
	</p>
	
	<p>
		<%= f.submit "Create" %>
	</p>
<% end %>
