<div id="assets">
	<h3 class="title">Assets</h3>
	
	<div>
		<% if assetable.assets.empty? %>
			<p>There are no assets at the moment.</p>
		<% else %>
			<% unless assetable.images.empty? %>
				<div class="imageAsset">
					<table>
						<tr>
							<th>&nbsp;</th>
							<th class="textileThumbnail">Thumb</th>
							<th>Textile</th>
							<th>Delete</th>
						</tr>
						<tr>
							<td><%= radio_button_tag "image", "nil", assetable.image_id.nil? %></td>
							<td class="textileThumbnail">(none)</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<% for asset in assetable.images %>
							<tr>
								<td><%= radio_button_tag "image", asset.id, asset.id == assetable.image_id %></td>
								<td class="textileThumbnail"><%= image_tag asset.upload.url(:thumb), :onclick => "$.markItUp({ replaceWith:'" + (asset.textile_tag :thumb) + "' } );" %></td>
								<td>
									<div class="textileCodeBlocks">
										<code class="textileCode textileCodeCell"><%= asset.textile_tag :original %></code><br />
										<code class="textileCode textileCodeCell"><%= asset.textile_tag :large %></code><br />
										<code class="textileCode textileCodeCell"><%= asset.textile_tag :medium %></code><br />
										<code class="textileCode textileCodeCell"><%= asset.textile_tag :thumb %></code><br />
									</div>
									<span class="imageInsert" style="display:none;" onclick="$.markItUp({ replaceWith:'<%= asset.textile_tag :thumb %>' } );" title="Insert image tag at cursor">Thumbnail</span>
									<span class="imageInsert" style="display:none;" onclick="$.markItUp({ replaceWith:'<%= asset.textile_tag :medium %>' } );" title="Insert image tag at cursor">Medium</span>
									<span class="imageInsert" style="display:none;" onclick="$.markItUp({ replaceWith:'<%= asset.textile_tag :large %>' } );" title="Insert image tag at cursor">Large</span>
									<span class="imageInsert" style="display:none;" onclick="$.markItUp({ replaceWith:'<%= asset.textile_tag :original %>' } );" title="Insert image tag at cursor">Original</span>
								</td>
								<td style="text-align: center;"><%= image_submit_tag "/images/tango/16px/delete.png", :value => asset.id, :name => "destroy_asset" %></td>
							</tr>
						<% end %>
					</table>
				</div>
			<% end %>
			
			<% unless assetable.files.empty? %>
				<div class="fileAsset">
					<table>
						<tr>
							<th style="text-align: left; width: 200px;">Filename</th>
							<th style="text-align: left;">Description</th>
							<th style="width: 120px;">Size</th>
							<th>Remove</th>
						</tr>
						<% for asset in assetable.files %>
							<tr>
								<td><%= link_to asset.filename, asset.upload.url %></td>
								<td>
									<%= asset.description %>
								</td>
								<td style="text-align: center;">
									<%= number_to_human_size(asset.size) %>
								</td>
								<td style="text-align: center;"><%= image_submit_tag "/images/tango/16px/delete.png", :value => asset.id, :name => "destroy_asset" %></td>
							</tr>
						<% end %>
					</table>
				</div>
			<% end %>
	
		<% end %>
		
		<h4>Add new asset</h4>
    <%= render :partial => "admin/assets/upload_form" %>
  </div>
</div>
