<h3 class="title" id="assetsToggle">
	&raquo; Assets
	<span style="font-size: 7pt;color:#0066cb">[toggle]</span>
</h3>

<div id="assetsBox">
	<div>
		<% if assetable.assets.empty? %>
			<p>There are no assets at the moment.</p>
		<% else %>
			<%= render :partial => assetable.images %>
			<%= render :partial => assetable.files %>
		<% end %>
		<h4>Add new asset</h4>
		<% fields_for :asset do |a| %>
			<p>
				<%= a.label :description %><br />
				<%= a.text_field :description %>
			</p>

			<p>
				<%= a.label :file, "File" %><br />
				<%= a.file_field :upload %>
			</p>
		<% end %>
		<p><%= submit_tag "Upload", :name => "upload" %></p>
	</div>
</div>