<% if asset.image? %>
	<div class="imageAsset">
		<%= image_tag asset.upload.url(:thumb), :onclick => "$.markItUp({ replaceWith:'!" + asset.upload.url + "(" + asset.description + ")!' } );" %>
		<em>!<%= asset.upload.url %>(<%= asset.description %>)!</em>
	</div>
<% else %>
	<div class="fileAsset">
		<strong><%= link_to asset.description, asset.upload.url %></strong>
		(<%= number_to_human_size(asset.size) %>)
	</div>
<% end %>
