<% form_for [:admin, @event] do |f| %>
	<%= f.error_messages %>
	
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name, :class => "titleField", :size => 39  %>
	</p>
	
	<p>
		<%= f.label :starts_at_date, "Starts on" %><br />
		<%= f.text_field :starts_at_date, :value => @event.starts_at.nil? ? Date.today.strftime("%d.%m.%Y") : @event.starts_at.strftime("%d.%m.%Y"), :class => "date" %>
		<em>e.g. <%= Date.today.strftime("%d.%m.%Y")%></em>
		<br />
		<%= f.label :starts_at_time, "at" %><br />
		<%= f.text_field :starts_at_time, :value => @event.starts_at.nil? ? Time.now.strftime("%H:%M") : @event.starts_at.strftime("%H:%M") %>
	</p>
	
	<p>
		<%= f.label :ends_at_date, "Ends on" %><br />
		<%= f.text_field :ends_at_date, :value => @event.ends_at.nil? ? Date.today.strftime("%d.%m.%Y") : @event.ends_at.strftime("%d.%m.%Y"), :class => "date" %>
		<br />
		<%= f.label :ends_at_time, "at" %><br />
		<%= f.text_field :ends_at_time, :value => @event.ends_at.nil? ? Time.now.strftime("%H:%M") : @event.ends_at.strftime("%H:%M") %>
	</p>
	
	<p>
		<%= f.check_box :all_day %> <%= f.label :all_day %>
	</p>
	
	<p>
		<%= f.label :location %><br />
		<%= f.text_field :location %> <%= f.check_box :is_address %> <%= f.label :is_address, "Address" %>
	</p>
	
	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description, :cols => 85, :rows => 10, :class => "resizable"  %>
	</p>
	
	<p>
		<%= f.submit submit_value ||= "Submit" %>
		<%= preview_button "/admin/events/preview", :name => "event_name", :starts_at_date => "event_starts_at_date", :starts_at_time => "event_starts_at_time", :ends_at_date => "event_ends_at_date", :ends_at_time => "event_ends_at_time", :location => "event_location", :description => "event_description" %>
	</p>
<% end %>

<div id="preview" title="Preview">
</div>