<% form_for [:admin, @event], :html => { :multipart => true } do |f| %>
	<%= f.error_messages %>
	
	<% if @preview %>
		<div id="preview" title="Preview">
			<h1><%=h @preview.name %></h1>
			<p class="metadata">
				<% if @preview.all_day == "1" %>
					<%= @preview.starts_at_date %>
				<% else %>
					<%= @preview.starts_at_date + " " + @preview.starts_at_time + " &mdash; " + @preview.ends_at_date + " " + @preview.ends_at_time %>
				<% end %>
			</p>
			<p>
				<b>Address: </b><%=h @preview.address %><br />
				<b>Location: </b><%=h @preview.location %>
			</p>
			<%= textilize @preview.description %>
		</div>
	<% end %>
	
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name, :class => "titleField", :size => 39  %>
	</p>
	
	<p>
		<%= f.label :starts_at_date, "Starts on" %><br />
		<%= f.text_field :starts_at_date, :value => @event.starts_at.nil? ? Date.today.strftime("%d.%m.%Y") : @event.starts_at.strftime("%d.%m.%Y"), :class => "date" %>
		<em>e.g. <%= Date.today.strftime("%d.%m.%Y")%></em>
		<br />
		<%= f.label :starts_at_time, "at" %><br />
		<%= f.text_field :starts_at_time, :value => @event.starts_at.nil? ? Time.now.strftime("%H:%M") : @event.starts_at.strftime("%H:%M") %>
	</p>
	
	<p>
		<%= f.label :ends_at_date, "Ends on" %><br />
		<%= f.text_field :ends_at_date, :value => @event.ends_at.nil? ? Date.today.strftime("%d.%m.%Y") : @event.ends_at.strftime("%d.%m.%Y"), :class => "date" %>
		<br />
		<%= f.label :ends_at_time, "at" %><br />
		<%= f.text_field :ends_at_time, :value => @event.ends_at.nil? ? Time.now.strftime("%H:%M") : @event.ends_at.strftime("%H:%M") %>
	</p>
	
	<p>
		<%= f.check_box :all_day %> <%= f.label :all_day %>
	</p>
	
	<p>
		<%= f.label :address %><br />
		<%= f.text_field :address %>
	</p>
	
	<p>
		<%= f.label :location %><br />
		<%= f.text_field :location %>
	</p>
	
	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description, :cols => 85, :rows => 10, :class => "textile"  %>
	</p>
	
	<p>
		<%= f.submit submit_value ||= "Submit" %>
		<%= submit_tag "Preview", :name => "preview" %>
	</p>
<div id="tabs">
	<ul>
		<li><a href="#assetsBox">Assets</a></li>
	</ul>
	<%= render :partial => "admin/assets/assets", :locals => { :assetable => @event } %>
</div>
<% end %>
