<h2 class="title">Events</h2>

<p><%= link_to "Add event", new_admin_event_path, :class => 'add' %></p>

<% bulk_options(bulk_action_admin_events_path) do |actions_available| %>

<table>
	<tr>
		<% if actions_available %>
			<th><input type="checkbox" id="bulk_check" /></th>
		<% end %>
		<th>Name</th>
		<th>Date</th>
		<th>Status</th>
	</tr>

	<% for event in @events %>
		<tr class="<%= cycle("odd", "even") %>">
			<% if actions_available %>
				<td class="checkbox"><input type="checkbox" name="events[<%= event.id %>]" /></td>
			<% end %>
			<td><%= link_to event.name, { :id => event.id, :action => "edit" }, { :title => "Edit", :class => "listingTitle" } %><br />
		    		<%=h truncate(event.description, :length => 50, :ommission => "...") %>
			<td style="text-align: center;"><%= format_event_dates(event) %></td>
			<td style="text-align: center;">
			<% if event.published? %>
				<%= image_tag("tango/22px/publish.png", :alt => "Published") %>
			<% else %>
				<%= image_tag("tango/22px/unpublish.png", :alt => "Unpublished") %>
			<% end %>
			</td>
		</tr>
	<% end %>
</table>
<% end %>
