<h2 class="title">Events</h2>

<p><%= link_to "Add event", new_admin_event_path, :class => 'add' %></p>

<table>
	<tr>
		<th>Name</th>
		<th>Date</th>
		<th>Location</th>
		<th>Actions</th>
	</tr>

<% for event in @events %>
	<tr<%= " class=\"unpublished\"" unless event.published? %>>
		<td><%=h event.name %></td>
		<td><%= format_event_dates(event) %></td>
		<td><%=h event.location %></td>
		<td>
			<%= render :partial => "admin/actions", :locals => { :content => event } %>
		</td>
	</tr>
<% end %>
</table>
