<h2 class="title">Events</h2>

<p><%= link_to "Add event", new_admin_event_path, :class => 'add' %></p>

<% form_tag("/admin/events/bulk_action") do %>
	<label for="actions">Bulk actions:</label> 
	<select name="actions">
		<option value="publish" class="publish">Publish</option>
		<option value="unpublish" class="unpublish">Unpublish</option>
		<option value="delete" class="delete">Delete</option>
	</select>
	<%= submit_tag "Do action" %>
	
<table>
	<tr>
		<th><input type="checkbox" id="bulk_check" /></th>
		<th>Name</th>
		<th>Date</th>
		<th>Status</th>
	</tr>

	<% for event in @events %>
		<tr class="<%= cycle("odd", "even") %>">
			<td class="checkbox"><input type="checkbox" name="events[<%= event.id %>]" /></td>
			<td><%= link_to event.name, { :id => event.id, :action => "edit" }, { :title => "Edit", :class => "listingTitle" } %><br />
		    		<%=h truncate(event.description, 50, "...") %>
			<td style="text-align: center;"><%= format_event_dates(event) %></td>
			<td style="text-align: center;">
			<% if event.published? %>
				<%= image_tag("tango/22px/publish.png", :alt => "Published") %>
			<% else %>
				<%= image_tag("tango/22px/unpublish.png", :alt => "Unpublished") %>
			<% end %>
			</td>
		</tr>
	<% end %>
</table>
<% end %>
