<script type="text/javascript">
	$(function() {
		$("#preview").dialog("open");
	});
</script>

<h1 class="title"><%=h params[:name] %></h1>
<p class="metadata"><%= params[:starts_at_date] + " " + params[:starts_at_time] %> &mdash; <%= params[:ends_at_date] + " " + params[:ends_at_time] %></p>

<p>
	<b>Location: </b><%=h params[:location] %>
</p>

<%= RedCloth.new(params[:description]).to_html %>