<h2 class="title"><%=h @event.name %></h2>
<p class="metadata"><%= format_event_dates(@event) %></p>
<p>
	<b>Location: </b><%=h @event.location %>
</p>
<%= RedCloth.new(@event.description).to_html %>

<p>
	<%= link_to 'Edit', edit_admin_event_path(@event) %> |
	<%= link_to 'Index', admin_events_path %>
</p>