<h2 class="title">Events found</h2>

<p>You searched for <strong><%= @query %></strong></p>

<% if @events.spelling_suggestion %>
  <p class="didYouMean">Did you mean <%= link_to h(@events.spelling_suggestion), :overwrite_params => { :query => @events.spelling_suggestion } %>?</p>
<% end %>

<p>Found <%= pluralize(@events.size, "event") %></p>

<% for event in @events %>
	<h3 class="title"><%= link_to event.name, event_path(event) %></h3>
	<p class="metadata">
		<%= format_event_dates(event) %><br />
		Relevance: <%= event.xapit_relevance %>
	</p>
<% end %>

<%= will_paginate @events %>