<h2 class="title">Events found</h2>

<p>You searched for "<%= @query %>"</p>

<% for event in @events %>
	<h3 class="title"><%= link_to event.name, event_path(event) %></h3>
	<p class="metadata">
		<%= format_event_dates(event) %><br />
		Relevance: <%= event.xapit_relevance %>
	</p>
<% end %>

<%= will_paginate @events %>