<h2 class="title">Galleries found</h2>

<p>You searched for <strong><%= @query %></strong></p>

<% if @galleries.spelling_suggestion %>
  <p class="didYouMean">Did you mean <%= link_to h(@galleries.spelling_suggestion), :overwrite_params => { :query => @galleries.spelling_suggestion } %>?</p>
<% end %>

<p>Found <%= pluralize(@galleries.size, "gallery") %></p>

<% image_table(@galleries, 3) do |gallery| %>
    <%= link_to(image_tag(gallery.image.upload.url(:thumb)), gallery) %>
    <h3><%= link_to(gallery.name, gallery) %></h3>
<% end %>