<h2 class="title">News articles found</h2>

<p>You searched for <strong><%= @query %></strong></p>

<% if @news.spelling_suggestion %>
  <p class="didYouMean">Did you mean <%= link_to h(@news.spelling_suggestion), :overwrite_params => { :query => @news.spelling_suggestion } %>?</p>
<% end %>

<p>Found <%= pluralize(@news.size, "news article") %></p>

<% for news_article in @news %>
	<div class="news_article">
		<h3 class="title"><%= link_to(news_article.title, news_path(news_article)) %></h3>
		<p class="metadata">
			<%=h time_ago_in_words(news_article.published_at) %> ago
			by <%= link_to_profile news_article.user %><br />
			Relevance: <%= news_article.xapit_relevance %>
		</p>
	</div>
<% end %>

<%= will_paginate @news %>