<h2 class="title">Results</h2>

<p>You searched for "<%= @query %>"</p>

<h3 class="title">Articles</h3>
	<ul>
	<% for article in @articles %>
		<li>
			<%= link_to article.title, article_path(article) %>
		</li>
	<% end %>
	</ul>
	
	<%= link_to "more &raquo;", :controller => "search", :action => "articles", :query => @query %>

<h3 class="title">News</h3>
	<ul>
	<% for news_article in @news %>
		<li>
			<%= link_to(news_article.title, news_article_path(news_article)) %>
		</li>
	<% end %>
	</ul>
	
	<%= link_to "more &raquo;", :controller => "search", :action => "news", :query => @query %>

<h3 class="title">Events</h3>
	<ul>
	<% for event in @events %>
		<li>
			<%= link_to(event.name, event_path(event)) %>
		</li>
	<% end %>
	</ul>
	
	<%= link_to "more &raquo;", :controller => "search", :action => "events", :query => @query %>
	