<h2 class="title">Results</h2>

<p>You searched for <strong><%= @query %></strong></p>

<h3 class="title">Articles</h3>
<p class="metadata">Found <%= pluralize(@articles.size, "article") %></p>
<% if @articles.size > 0 %>
	<ul>
	<% for article in @articles %>
		<li>
			<%= link_to article.title, article_path(article) %>
		</li>
	<% end %>
	</ul>
	
	<%= link_to "more &raquo;", :controller => "search", :action => "articles", :query => @query %>
<% end %>


<h3 class="title">News</h3>
<p class="metadata">Found <%= pluralize(@news.size, "news article") %></p>
<% if @news.size > 0 %>
	<ul>
	<% for news_article in @news %>
		<li>
			<%= link_to(news_article.title, news_path(news_article)) %>
		</li>
	<% end %>
	</ul>
	
	<%= link_to "more &raquo;", :controller => "search", :action => "news", :query => @query %>
<% end %>


<h3 class="title">Events</h3>
<p class="metadata">Found <%= pluralize(@events.size, "event") %></p>
<% if @events.size > 0 %>
	<ul>
	<% for event in @events %>
		<li>
			<%= link_to(event.name, event_path(event)) %>
		</li>
	<% end %>
	</ul>

	<%= link_to "more &raquo;", :controller => "search", :action => "events", :query => @query %>
<% end %>

<h3 class="title">Galleries</h3>
<p class="metadata">Found <%= pluralize(@galleries.size, "gallery") %></p>
<% if @galleries.size > 0 %>
	<% image_table(@galleries, @columns) do |gallery| %>
	    <%= link_to(image_tag(gallery.image.upload.url(:thumb)), gallery) %>
	    <h3><%= link_to(gallery.name, gallery) %></h3>
	<% end %>

	<%= link_to "more &raquo;", :controller => "search", :action => "galleries", :query => @query %>
<% end %>
