<% form_for [:admin, @news_article], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

	<% if params[:preview] %>
		<div id="preview" title="Preview">
			<h1><%= @news_article.title %></h1>
			<%= textilize @news_article.body %>
		</div>
	<% end %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :class => "titleField", :size => 39 %>
  </p>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :cols => 85, :rows => 20, :class => "textile" %>
  </p>

  <p>
    <%= f.submit submit_value ||= "Submit" %>
		<%= submit_tag "Preview", :name => "preview" %>
  </p>

<div id="tabs">
	<ul>
		<li><a href="#assetsBox">Assets</a></li>
	</ul>
	<%= render :partial => "admin/assets/assets", :locals => { :assetable => @news_article } %>
</div>
<% end %>
