<h2 class="title">Editing news article</h2>

<% form_for(:news_article, @news_article, :controller => "admin/news", :url => { :action => "update"}, :html => { :method => :put }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :class => "titleField", :size => 39 %>
  </p>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :cols => 85, :rows => 20, :class => "textile" %>
  </p>

  <p>
    <%= f.submit submit_value ||= "Submit" %>
		<%= preview_button "/admin/news/preview", :title => "news_article_title", :body => "news_article_body" %>
  </p>
<% end %>

<div id="preview" title="Preview">
</div>
