<h2 class="title">News</h2>

<p><%= link_to "Add news article", new_admin_news_path, :class => 'add' %></p>

<% bulk_options(bulk_action_admin_news_path) do |actions_available| %>

<table>
  <tr>
		<% if actions_available %>
	  	<th><input type="checkbox" id="bulk_check" /></th>
		<% end %>
    <th>Title</th>
    <th>Created</th>
		<th>Status</th>
  </tr>

	<% for news_article in @news %>
		<tr class="<%= cycle("odd", "even") %>">
			<% if actions_available %>
				<td class="checkbox"><input type="checkbox" name="news[<%= news_article.id %>]" /></td>
			<% end %>
	    <td><%= link_to news_article.title, { :id => news_article.id, :action => "edit" }, { :title => "Edit", :class => "listingTitle" } %><br />
	    		<%=h truncate(news_article.body, :length => 50, :ommission => "...") %>
	    </td>
		  <td style="text-align: center;"><%=h short_date(news_article.created_at) %></td>
		  <td style="text-align: center;">
			<% if news_article.published? %>
				<%= link_to (image_tag("tango/22px/publish.png", :alt => "Published")), { :id => news_article.id, :action => "unpublish" }, { :title => "Unpublish '#{news_article.title}'" } %>
			<% else %>
				<%= link_to (image_tag("tango/22px/unpublish.png", :alt => "Unpublished")), { :id => news_article.id, :action => "publish" }, { :title => "Publish '#{news_article.title}'" } %>
			<% end %>
			</td>
	  </tr>
	<% end %>
</table>

<% end %>
