<h2 class="title">Listing news</h2>

<p><%= link_to "Add news article", new_admin_news_article_path, :class => 'add' %></p>

<table>
  <tr>
    <th>Title</th>
    <th>Created</th>
		<th>Actions</th>
  </tr>

	<% for news_article in @news %>
		<tr class="<%= news_article.published? ? "published" : "unpublished" %>">
	    <td><%=h news_article.title %></td>
		  <td><%=h short_date(news_article.created_at) %></td>
		  <td>
				<%= render :partial => "admin/actions", :locals => { :content => news_article } %>
			</td>
	  </tr>
	<% end %>
</table>
