<h2 class="title">Listing news</h2>

<p><%= link_to "Add news article", new_admin_news_article_path, :class => 'add' %></p>

<% form_tag("/admin/news/bulk_action") do %>
	<label for="actions">Bulk actions:</label>
	<select name="actions">
		<option value="publish" class="publish">Publish</option>
		<option value="unpublish" class="unpublish">Unpublish</option>
		<option value="delete" class="delete">Delete</option>
	</select>
	<%= submit_tag "Do action" %>
	
<table>
  <tr>
	  <th><input type="checkbox" id="bulk_check" /></th>
    <th>Title</th>
    <th>Created</th>
		<th>Status</th>
  </tr>

	<% for news_article in @news %>
		<tr class="<%= cycle("odd", "even") %>">
			<td class="checkbox"><input type="checkbox" name="news[<%= news_article.id %>]" /></td>
	    <td><%= link_to news_article.title, { :id => news_article.id, :action => "edit" }, { :title => "Edit", :class => "listingTitle" } %><br />
	    		<%=h truncate(news_article.body, 50, "...") %>
	    </td>
		  <td style="text-align: center;"><%=h short_date(news_article.created_at) %></td>
		  <td style="text-align: center;"><%= news_article.published? ? "published" : "unpublished" %></td>
	  </tr>
	<% end %>
</table>

<% end %>
