<h2>Add news article</h2>

<% form_for([:admin, @news_article]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>

	<p>
		Clicking "Create" will save the document but won't publish it.<br />
		Please review it in the next page.
	</p>
	
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p><%= link_to 'Back', admin_news_path %></p>
