<h2 class="title"><%=h @news_article.title %></h2>
<p class="metadata">
	<%=h long_date(@news_article.created_at) %>
	<% if @news_article.user.nil? == false %>
		by <%=h @news_article.user.first_name + " " + @news_article.user.last_name %>
	<% end %>
</p>
<%= RedCloth.new(@news_article.body).to_html %>

<p>
	<%= link_to 'Edit', edit_admin_news_article_path(@news_article) %> |
	<%= link_to 'Index', admin_news_path %>
</p>