<% form_for [:admin, @article], :html => { :multipart => true } do |f| %>
  <%= f.error_messages%>

	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title, :class => "titleField", :size => 39 %>
	</p>
	
	<p>
		<%= f.label :description %><br />
		<%= f.text_field :description, :size => 75 %>
	</p>
	
	<p>
		<%= f.label :body %><br />
		<%= f.text_area :body, :cols => 85, :rows => 20, :class => "textile" %>
	</p>
	
	<p>
		<%= f.submit submit_value ||= "Submit" %>
		<%= preview_button "/admin/articles/preview", :body => "article_body", :title => "article_title", :description => "article_description" %>
	</p>
	
<div>
		<h3 class="title" id="categoriesToggle">
			&raquo; Categories
			<span style="font-size: 7pt;color:#0066cb">[toggle]</span>
		</h3>
		<div id="categoriesBox">
			<div>
				<% if @categories.empty? %>
					<p>There are no categories at the moment. Please create one.</p>
				<% else %>
					<ul id="categories">
						<% for category in @categories %>
							<li>
								<%= check_box_tag "categories[#{category.id}]", category.id, @article.categories.include?(category) %>
								<label for="categories_<%= category.id%>"><%= category.name %></label>
							</li>
						<% end %>
					</ul>
				<% end %>
			
				<h4>Add new category</h4>
				<% fields_for :category do |c| %>
					<p>
						<%= c.label :name %><br />
						<%= c.text_field :name %>
					</p>

					<p>
						<%= submit_tag "Create category", :name => "create_category" %>
					</p>
				<% end %>
			</div>
		</div>
		<div>
		<h3 class="title" id="assetsToggle">
			&raquo; Assets
			<span style="font-size: 7pt;color:#0066cb">[toggle]</span>
		</h3>
		<div id="assetsBox">
			<div>
				<% if @article.assets.empty? %>
					<p>There are no assets at the moment.</p>
				<% else %>
					<%= render :partial => @article.images %>
					<%= render :partial => @article.files %>
				<% end %>
				<h4>Add new asset</h4>
				<% fields_for :asset do |a| %>
					<p>
						<%= a.label :description %><br />
						<%= a.text_field :description %>
					</p>

					<p>
						<%= a.label :file, "File" %><br />
						<%= a.file_field :upload %>
					</p>
				<% end %>
				<p><%= submit_tag "Upload", :name => "upload" %></p>
			</div>
		</div>
<% end %>

<div id="preview" title="Preview">
</div>