<% form_for [:admin, @article], :html => { :multipart => true } do |f| %>
  <%= f.error_messages%>

	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title, :class => "titleField", :size => 39 %>
	</p>
	
	<p>
		<%= f.label :description %><br />
		<%= f.text_field :description, :size => 75 %>
	</p>
	
	<p>
		<%= f.label :body %><br />
		<%= f.text_area :body, :cols => 85, :rows => 20, :class => "textile" %>
	</p>
	
	<p>
		<%= f.submit submit_value ||= "Submit" %>
		<%= preview_button "/admin/articles/preview", :body => "article_body", :title => "article_title", :description => "article_description" %>
	</p>
	
<div id="tabs">
	<ul>
		<li><a href="#categoriesBox">Categories</a></li>
		<li><a href="#assetsBox">Assets</a></li>
		<% unless controller.action_name == "new" %><li><a href="#revisionsBox">Revisions</a></li><% end %>
	</ul>
		<div id="categoriesBox">
			<div>
				<% if @categories.empty? %>
					<p>There are no categories at the moment. Please create one.</p>
				<% else %>
					<ul id="categories">
						<% for category in @categories %>
							<li>
								<%= check_box_tag "categories[#{category.id}]", category.id, @article.categories.include?(category) %>
								<label for="categories_<%= category.id%>"><%= category.name %></label>
							</li>
						<% end %>
					</ul>
				<% end %>
			
				<h4>Add new category</h4>
				<% fields_for :category do |c| %>
					<p>
						<%= c.label :name %><br />
						<%= c.text_field :name %>
					</p>

					<p>
						<%= submit_tag "Create category", :name => "create_category" %>
					</p>
				<% end %>
			</div>
		</div>
		
		<%= render :partial => "admin/assets/assets", :locals => { :assetable => @article } %>
<% end %>

<div id="preview" title="Preview">
</div>