<% form_for [:admin, @article], :html => { :multipart => true } do |f| %>
	<div id="editArea">
		<%= f.error_messages%>

		<% if params[:preview] %>
			<div id="preview" title="Preview">
				<h1><%= @article.title %></h1>
				<p><strong><%= @article.description %></strong></p>
				<%= textilize @article.body %>
			</div>
		<% end %>

		<p>
			<%= f.label :title %><br />
			<%= f.text_field :title, :class => "titleField", :size => 39 %>
		</p>
	
		<p>
			<%= f.label :description %><br />
			<%= f.text_field :description, :class => "wide", :size => 75 %>
		</p>
	
		<p>
			<%= f.label :body %><br />
			<%= f.text_area :body, :cols => 85, :rows => 20, :class => "textile" %>
		</p>
	</div>
	
	<div id="sidebar">
	  <%= render :partial => "admin/actions", :locals => { :f => f, :item => @article } %>
	
		<%= render :partial => "categories" %>
	</div>
	
	<%= render :partial => "admin/assets/assets", :locals => { :assetable => @article } %>
		
	<%= render :partial => "revisions" unless @article.new_record? %>
	
<% end %>