<% form_for [:admin, @article] do |f| %>
  <%= f.error_messages%>

	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title, :class => "titleField", :size => 39 %>
	</p>
	
	<p>
		<%= f.label :description %><br />
		<%= f.text_field :description, :size => 75 %>
	</p>
	
	<p>
		<%= f.label :body %><br />
		<%= f.text_area :body, :cols => 85, :rows => 20, :class => "resizable" %>
	</p>
	
	<h4 class="title">Categories:</h4>
	<% if @categories.empty? %>
		<p>There are no categories at the moment. Please create one.</p>
	<% else %>
		<ul id="categories">
			<%= render :partial => @categories %>
		</ul>
	<% end %>
	<p>
		<%= f.submit submit_value ||= "Submit" %>
		<%= button_to_remote "Preview", :url => { :action => "preview" }, :update => "preview", :method => :post, :with => "'body=' + $('#article_body').val() + '&amp;title=' + $('#article_title').val() + '&amp;description=' + $('#article_description').val()" %>
	</p>
<% end %>

<div id="preview" title="Preview">
</div>

<h3 class="title">Add Category</h3>
<% form_for [:admin, @category] do |f| %>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= f.submit "Create category" %>
	</p>
<% end %>