<h3 class="title">Revisions</h3>

<% form_tag "compare" do %>
	<table>
		<tr>
			<th>Revision</th>
			<th>From</th>
			<th>To</th>
			<th>Date</th>
			<th>User</th>
		</tr>
		
		<% for revision in @article.revisions.reverse %>
			<tr>
				<td>
					<%= revision.number %>
					<% if revision.number == @article.current_revision_id %>
						<strong>current</strong>
					<% else %>
						<%= link_to "change to", change_revision_path(:id => @article.id, :revision => revision.number) %>
					<% end %>
				</td>
				<td><input type="radio" name="rev_a" value="<%=h revision.number %>" /></td>
				<td><input type="radio" name="rev_b" value="<%=h revision.number %>" /></td>
				<td><%= short_date(revision.created_at) %></td>
				<td><%= revision.user.name_with_role %></td>
			</tr>
		<% end %>
	</table>
	
	<%= submit_tag "Compare" %>
<% end %>