<h2 class="title">
	<%= @rev_a.title %>
	<% if @rev_a.title.strip != @rev_b.title.strip %>
		-> <%= @rev_b.title %>
	<% end %>
</h2>

<p><b>
	<%= @rev_a.description %>
	<% if @rev_a.description.strip != @rev_b.description.strip %>
		-> <%= @rev_b.description %>
	<% end %>
</b></p>

<pre class="brush: diff"><%= @diff %></pre>