<div id="revisionA">
	<h2>Revision <%= params[:rev_a] %></h2>
	<h3 class="title"><%= @revisions[0].title %></h3>
	<p><b><%= @revisions[0].description %></b></p>
	<%= RedCloth.new(@revisions[0].body).to_html %>
</div>

<div id="revisionB">
	<h2>Revision <%= params[:rev_b] %></h2>
	<h3 class="title"><%= @revisions[1].title %></h3>
	<p><b><%= @revisions[1].description %></b></p>
	<%= RedCloth.new(@revisions[1].body).to_html %>
</div>