<h2 class="title">Listing articles</h2>

<p><%= link_to "Add article", new_admin_article_path, :class => 'add' %></p>

<table>
  <tr>
    <th>Title</th>
    <th>Created</th>
		<th>Actions</th>
  </tr>

	<% for article in @articles %>
		<tr class="<%= article.published? ? "published" : "unpublished" %>">
	    <td><%=h article.title %></td>
		  <td><%=h short_date(article.created_at) %></td>
		  <td>
				<%= render :partial => "admin/actions", :locals => { :content => article, :article => true } %>
			</td>
	  </tr>
	<% end %>
</table>
