<h2 class="title">Listing articles</h2>

<p><%= link_to "Add article", new_admin_article_path %></p>

<table>
  <tr>
    <th>Title</th>
    <th>Created at</th>
    <th>Description</th>
		<th>Actions</th>
  </tr>

	<% for article in @articles %>
		<tr<%= " class=\"unpublished\"" unless article.published? %>>
	    <td><%=h article.title %></td>
		  <td><%=h article.created_at %></td>
		  <td><%=h article.description %></td>
		  <td>
				<%= link_to image_tag("icons/show.png", :alt => "Show"), admin_article_path(article) %>
		    <%= link_to image_tag("icons/edit.png", :alt => "Edit"), edit_admin_article_path(article) %>
		    <%= link_to image_tag("icons/destroy.png", :alt => "Destroy"), admin_article_path(article), :confirm => 'Are you sure?', :method => :delete %>
			</td>
	  </tr>
	<% end %>
</table>
