<h2 class="title">Listing articles</h2>

<p><%= link_to "Add article", new_admin_article_path, :class => 'add' %></p>

<% form_tag("articles/bulk_action") do %>
	<label for="actions">Bulk actions:</label>
	<select name="actions">
		<option value="publish" class="publish">Publish</option>
		<option value="unpublish" class="unpublish">Unpublish</option>
		<option value="delete" class="delete">Delete</option>
	</select>
	<%= submit_tag "Do action" %>

<table>
  <tr>
	  <th><input type="checkbox" id="bulk_check" /></th>
    <th>Title</th>
    <th>Created</th>
    <th>Status</th>
		<th>Revision</th>
		<% if User.find(session[:user_id]).role.can_administer? %>
			<th>Featured</th>
		<% end %>
  </tr>

	<% for article in @articles %>
		<tr class="<%= cycle("odd", "even") %>">
			<td class="checkbox"><input type="checkbox" name="articles[<%= article.id %>]" /></td>
	    <td><%= link_to article.title, { :id => article.id, :action => "edit" }, { :title => "Edit", :class => "listingTitle" } %><br />
	    		<%=h truncate(article.description, 50, "...") %>
	    </td>
		  <td style="text-align: center;"><%=h short_date(article.created_at) %></td>
		  <td style="text-align: center;"><%= article.published? ? "published" : "unpublished" %></td>
			<td style="text-align: center;"><%= article.current_revision_id %></td>
			<% if User.find(session[:user_id]).role.can_administer? %>
				<td style="text-align: center;">
					<% if defined? article.published && article.published %>
  					<% if article.id != @featured_article %>
    						<%= link_to image_tag("picol/not_featured_16.png", :alt => "Feature"), { :id => article.id, :action => "feature" }, { :title => "Feature" }%>
  					<% else %>
    						<%= image_tag("picol/featured_16.png", :alt => "Currently featured") %>
 						<% end %>
					<% end %>
					</td>
			<% end %>
	  </tr>
	<% end %>
</table>
<% end %>
