<%= render :partial => "admin/index_js" %>

<h2 class="title">Listing articles</h2>

<p><%= link_to "Add article", new_admin_article_path, :class => 'add' %></p>

<% form_tag("articles/bulk_action") do %>
	<label for="actions">Bulk actions:</label>
	<select name="actions">
		<option value="publish">Publish</option>
		<option value="unpublish">Unpublish</option>
		<option value="delete">Delete</option>
	</select>
	<%= submit_tag "Do action" %>

<table>
  <tr>
	  <th><input type="checkbox" id="bulk_check" /></th>
    <th>Title</th>
    <th>Created</th>
    <th>Status</th>
		<th>Revision</th>
  </tr>

	<% for article in @articles %>
		<tr class="<%= cycle("odd", "even") %>">
			<td class="checkbox"><input type="checkbox" name="articles[<%= article.id %>]" /></td>
	    <td><%= link_to article.title, { :id => article.id, :action => "edit" }, { :title => "Edit", :class => "listingTitle" } %><br />
	    		<%=h truncate(article.description, 50, "...") %>
	    </td>
		  <td><%=h short_date(article.created_at) %></td>
		  <td><%= article.published? ? "published" : "unpublished" %></td>
			<td><%= article.current_revision_id %></td>
	  </tr>
	<% end %>
</table>
<% end %>
