<h2 class="title">Listing articles</h2>

<p><%= link_to "Add article", new_admin_article_path, :class => 'add' %></p>

<table>
  <tr>
    <th>Title</th>
    <th>Created at</th>
		<th>Actions</th>
  </tr>

	<% for article in @articles %>
		<tr<%= " class=\"unpublished\"" unless article.published? %>>
	    <td><%=h article.title %></td>
		  <td><%=h article.created_at %></td>
		  <td>
				<%= render :partial => "admin/actions", :locals => { :content => article } %>
			</td>
	  </tr>
	<% end %>
</table>
