<h2>Add article</h2>

<% form_for [:admin, @article]  do |f| %>
  <%= f.error_messages %>

	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title, :class => "titleField", :size => 39 %>
	</p>
	
	<p>
		<%= f.label :description %><br />
		<%= f.text_field :description, :size => 75 %>
	</p>
	
	<p>
		<%= f.label :body %><br />
	<span id="textileEditor">
		<%= f.textile_editor :body, :cols => 85, :rows => 20 %>
	</span>	
	</p>
	
	<p>
		Clicking "Create" will save the document but won't publish it.<br />
		Please review it in the next page.
	</p>
	
	<p>
		<%= f.submit "Create" %>
	</p>
<% end %>

<p><%= link_to "Back", admin_articles_path %></p>
