<h2 class="title"><%=h @article.title %></h2>
<p class="metadata">
	<%=h long_date(@article.created_at) %>
	<% if @article.user.nil? == false %>
		by <%=h @article.user.first_name + " " + @article.user.last_name %>
	<% end %>
</p>
<%= RedCloth.new(@article.body).to_html %>

<p>
	<%= link_to 'Edit', edit_admin_article_path(@article) %> |
	<%= link_to 'Index', admin_articles_path %>
</p>