<% page(:title => @article.title, 
		:desc => @article.description,
		:keywords => keywords_from_categories(@article.categories)) %>

<h2 class="title"><%=h @article.title %></h2>
<p class="metadata">
	<%=h long_date(@article.created_at) %>
	by <%= link_to_profile @article.user %>
</p>

<% if can_edit?(@article) %>
	<p class="adminLinks">
		<%= link_to "[ edit this article ]", edit_admin_article_path(@article) %>
	</p>
<% end %>

<p><b><%=h @article.description %></b></p>
<%= RedCloth.new(@article.body).to_html %>