<h2 class="title"><%=h @article.title %></h2>
<p class="metadata">
	<%=h long_date(@article.published_at) %>
	by <%= link_to_profile @article.user %>
</p>

<% if can_edit?(@article) %>
	<p class="adminLinks">
		<%= link_to "[ edit this article ]", edit_admin_article_path(@article) %>
	</p>
<% end %>

<p><b><%=h @article.description %></b></p>
<%= RedCloth.new(@article.body).to_html %>

<%= render :partial => "/assets/downloads", :locals => { :assetable => @article } %>