<h2 class="title">Sitemap</h2>
<p>This is a top-level, human readable sitemap.  For a detailed (and machine readable) XML sitemap go <%= link_to "here", :controller => "sitemap", :action => "index", :format => :xml %>.</p>
<ul>
	<li><%= link_to "Home", :controller => "home" %></li>
	<li><%= link_to "News", :controller => "news" %></li>
	<li><%= link_to "Articles", :controller => "articles" %>
		<ul>
			<% for c in @categories%>
				<li><%= link_to c.name, categories_path(c) %> (<%= pluralize(c.articles.size, "article") %>)</li>
			<% end %>
		</ul>
	</li>
	<li><%= link_to "Events", :controller => "events" %>
		<ul>
			<li><%= link_to "Past Events", :controller => "events", :action => "past" %></li>
		</ul>
	</li>
	<li><%= link_to "Galleries", :controller => "galleries" %></li>
	<li><%= link_to "About", :controller => "about" %></li>
	<li><%= link_to "Contact", :controller => "contact" %></li>
</ul>
