<p id="buttons">
  <%= f.submit "Save", :id => "saveButton" %>
	<%= submit_tag "Preview", :name => "preview", :id => "previewButton" %>
</p>

<% if current_user.role.can_publish? %>
	<p>
		<%= f.label :published, "Published:" %>
		<%= f.check_box :published %> 
	</p>
<% end %>

<% unless item.new_record? %>
	<p id="itemInfo">
		<strong>Created on: </strong><%= short_date(item.created_at) %><br />
		<strong>Published on: </strong><span<%= " style=\"text-decoration:line-through\"" if !item.published? && !item.published_at.nil? %>><%= item.published_at.nil? ? "never" : short_date(item.published_at) %></span><br />
		<strong>Owner: </strong><%= item.user.name %>
	</p>
<% end %>