<div id="adminSidebarLegend" class="sidebar">
	<h2>Legend</h2>
	
	<table id="sidebarLegend">
		<tr>
			<td><%= image_tag "icons/view_16.png", :alt => "Show" %></td>
			<td>Show</td>
		</tr>
		<tr>
			<td><%= image_tag "icons/publish_16.png", :alt => "Publish" %></td>
			<td>Publish</td>
		</tr>
		<tr>
			<td><%= image_tag "icons/unpublish_16.png", :alt => "Unpublish" %></td>
			<td>Unpublish</td>
		</tr>
		<tr>
			<td><%= image_tag "icons/edit_16.png", :alt => "Edit" %></td>
			<td>Edit</td>
		</tr>
		<tr>
			<td><%= image_tag "icons/delete_16.png", :alt => "Delete" %></td>
			<td>Delete</td>
		</tr>
	</table>
</div>
