<div id="userLinks">
	<% @user = User.find(session[:user_id]) unless session[:user_id].nil? %>
	<% if logged_in? %>
		<p>Logged in as <em><%= @user.username %></em>
		<% if (controller.controller_path =~ /admin\// ) %>
				&brvbar; <%= link_to "Go to site", :root, :class => "visitSite" %>
		<% else %>
			&brvbar; <%= link_to "Profile", profile_path(@user) %>
			&brvbar; <%= link_to "Account", user_path(@user) %>
			<% if !User.find(session[:user_id]).normal_user? %>
				&brvbar; <%= link_to "Administration", admin_url %>
			<% end %>
		<% end %>
			&brvbar; <%= link_to "Logout", logout_path %> </p>
	<% else %>
		<% unless controller.controller_name == "users" %>
			<% form_tag '/login', :id => form_id ||= nil do %>
				<p>
					<%= text_field_tag :username, params[:username], :class => "userLinks", :value => "username", :size => 10 %>

					<%= password_field_tag :password, params[:password], :class => "userLinks", :value => "password", :size => 10 %>
		
					<%= submit_tag "Login", :class => "userLinks" %> <br />
		
					<%= check_box_tag :remember_me, params[:remember_me], :class => "userLinks" %>
					<label for="remember_me" class="userLinks">Remember me</label> &brvbar;
					<%= link_to "Register", new_user_path %> &brvbar; 
					<%= link_to "Forgot?", request_credentials_path %>
				</p>
			<% end %>
		<% end %>
	<% end %>
</div>
