<div id="userLinks">
	<% if logged_in? %>
		<p>Logged in as <em><%= current_user.username %></em>
			&brvbar; <%= link_to "Profile", profile_path(current_user) %>
			&brvbar; <%= link_to "Account", user_path(current_user) %>
			<% if !current_user.unprivileged? %>
				&brvbar; <%= link_to "Administration", admin_url %>
			<% end %>
			&brvbar; <%= link_to "Logout", logout_path %> </p>
	<% else %>
		<% unless controller.controller_name == "users" || controller.controller_name == "sessions" %>
				<% protocol = HTTPS_ENABLED ? 'https://' : 'http://' %>
				<% form_tag( {:controller => 'sessions', :action => 'create', :protocol => protocol, :only_path => !HTTPS_ENABLED}, {:method => 'post', :id => form_id ||= nil }) do -%>

				<p>
					<%= text_field_tag :username, params[:username], :class => "userLinks", :size => 8, :tabindex => 1 %>

					<%= password_field_tag :password, params[:password], :class => "userLinks", :size => 8, :tabindex => 2 %>

					<%= submit_tag "Login", :class => "userLinks", :tabindex => 3 %> <br />

					<%= hidden_field_tag "request_uri", request.request_uri %>

					<%= check_box_tag :remember, params[:remember], :class => "userLinks" %>
					<label for="remember" class="userLinks">Remember me</label> &brvbar;
					<%= link_to "Register", new_user_path %> &brvbar;
					<%= link_to "Forgot?", request_credentials_path %>
				</p>
			<% end %>
		<% end %>
	<% end %>
</div>
