<div id="userSidebar" class="sidebar">
	<h2>Users</h2>
	
<% if logged_in? %>

	<p>Logged in as <%= link_to(User.find(session[:user_id]).username, :controller => "/users", :action => "profile") %>.</p>
	<% if User.find(session[:user_id]).role.can_administer? && !admin_namespace? %>
		<p><%= link_to "Go to administration", admin_url %></p>
	<% end %>
	<p><%= link_to "Logout", :controller => "/users", :action => "logout" %></p>
	<p id="flashLoginNotice"><%= flash[:login_notice] %></p>
	
<% else %>

	<% form_remote_tag :url => "/users/login" do %>
		<p>
			<label for="username">Username</label>
			<%= text_field_tag :username, params[:username], :class => "field", :tabindex => 0 %>
		</p>
	
		<p>
			<label for="password">Password</label>
			<%= password_field_tag :password, params[:password], :class => "field", :tabindex => 0 %>
		</p>
		
		<p>
			<%= check_box_tag :remember_me, params[:remember_me] %>
			<label for="remember_me">Remember me</label>
		</p>
	
		<p>
			<%= submit_tag "Login" %>
		</p>
	<% end %>
	
	<p id="flashLogin">
		<span id="flashLoginNotice"><%= flash[:login_notice] %></span>
		<span id="flashLoginError"><%= flash[:login_error] %></span>
	</p>
	
	<p><%= link_to "Register New User", :controller => "users", :action => "register" %></p>
	<p id="sidebarForgotLink"><%= link_to "Forgot username/password?", :controller => "users", :action => "request_credentials" %>
<% end %>
</div>
