<div id="userLinks">
	<% @user = User.find(session[:user_id]) unless session[:user_id].nil? %>
	<% if logged_in? %>
		<p>Logged in as <em><%= link_to @user.username, :controller => "/users", :action => "profile" %></em>
		<% if (controller.controller_path =~ /admin\// ) %>
				&brvbar; <%= link_to "Go to site", :root, :class => "visitSite" %>
		<% else %>
			<% if !User.find(session[:user_id]).normal_user? %>
				&brvbar; <%= link_to "Administration", admin_url %>
			<% end %>
		<% end %>
			&brvbar; <%= link_to "Logout", logout_path %> </p>
	<% else %>
		<p>
			<%= link_to "Login", login_path, :class => "login" %> &brvbar;
			<%= link_to "Register", :controller => "users", :action => "register" %> &brvbar; 
			<%= link_to "Forgot?", :controller => "users", :action => "request_credentials" %>
		</p>
	<% end %>
</div>
