<div id="userLinks">
	<% if logged_in? %>
		<p>Logged in as <em><%= current_user.username %></em>
			&brvbar; <%= link_to "Profile", profile_path(current_user) %>
			&brvbar; <%= link_to "Account", user_path(current_user) %>
			<% if !current_user.unprivileged? %>
				&brvbar; <%= link_to "Administration", admin_url %>
			<% end %>
			&brvbar; <%= link_to "Logout", logout_path %> </p>
	<% else %>
		<% unless controller.controller_name == "users" || controller.controller_name == "sessions" %>
				<% protocol = HTTPS_ENABLED ? 'https://' : 'http://' %>
				<%= link_to "Login", { :controller => "sessions", :action => "new", :protocol => protocol, :only_path => false }, :id => "loginLink" %>
				</p>
		<% end %>
	<% end %>
</div>
