<% title "Password reset" %>

<% form_tag :action => "update_password" do %>
	<p>
		<label for="password">Password:</label><br />
		<%= password_field_tag :password, "", :size => 30, :tabindex => 1, :class => "textField"  %>
	</p>
	
	<p>
		<label for="password_confirmation">Password confirmation:</label><br />
		<%= password_field_tag :password_confirmation, "", :size => 30, :tabindex => 2, :class => "textField"  %>
	</p>
	
	<%= hidden_field_tag "username", @user.username %>
	<%= hidden_field_tag "reset_hash", @reset_hash %>

	<p>
		<%= submit_tag "Reset password", :class => "submit", :tabindex => 3 %>
	</p>
<% end %>
	
