<h2 class="title"><%=h @user.username %></h2>
<p>
	<b>Name: </b><%=h @user.last_name %>, <%=h @user.first_name %><br />
	<b>Role: </b><%=h @user.role.name %>
</p>

<h3 class="title">Public Profile</h3>

<p>The public profile information is all optional and will be available to everyone. You are responsible for what you write.</p>

<% form_for :user, @user, :url => { :action => "update" } do |u| %>

	<% fields_for :profile, @user.profile do |p| %>
		<%= p.error_messages %>

		<p>
			<%= p.label :url, "URL" %><br />
			<%= p.text_field :url %>
		</p>
	
		<p>
			<%= p.label :about %><br />
			<%= p.text_area :about, :class => "textile" %>
		</p>
	
		<p>
			<%= p.label :degree_programme %><br />
			<%= p.text_field :degree_programme %>
		</p>
	
		<p>
			<%= p.label :graduation_year %><br />
			<%= p.text_field :graduation_year %>
		</p>
	
		<h4 class="title">Favourites</h4>
	
		<p>
			<%= p.label :distribution %><br />
			<%= p.text_field :distribution %>
		</p>
	
		<p>
			<%= p.label :desktop_environment %><br />
			<%= p.text_field :desktop_environment %>
		</p>
	
		<p>
			<%= p.label :text_editor %><br />
			<%= p.text_field :text_editor %>
		</p>
	
		<p>
			<%= p.label :programming_language %><br />
			<%= p.text_field :programming_language %>
		</p>
	<% end %>

<h3 class="title">Personal Information</h3>

<p>
	<b>Instructions:</b><br />
	For any personal change to be made to your account, please provide us with your current password. Just making sure you are still you.
</p>

	<%= u.error_messages %>
	
	<p>
		<%= u.label :current_password %><br />
		<%= u.password_field :current_password, :size => 40, :tabindex => 1 %>
	</p>
	
	<p>
		<%= u.label :username %><br />
		<%= u.text_field :username, :tabindex => 2 %>
	</p>
	
	<p>
		<%= u.label :email %><br />
		<%= u.text_field :email, :size => 40, :tabindex => 3 %>
	</p>
	
	<p>
		<%= u.label :password, "New password" %><br />
		<%= u.password_field :password, :size => 40, :tabindex => 4 %>
	</p>
	
	<p>
		<%= u.label :password_confirmation %><br />
		<%= u.password_field :password_confirmation, :size => 40, :tabindex => 5 %>
	</p>
	
	<p><%= u.submit "Update", :class => "submit", :tabindex => 6 %></p>
<% end %>

<p>
	<b>Notice:</b><br />
	Name changes must be verified before they can be made. If you need such a change, please contact an administrator. We'll be glad to do it for you.
</p>

<p>If you no longer want to be registered, feel free to <%= link_to "delete your account", :controller => "users", :action => "remove" %>.</p>
	
