<h2 class="title">User Registration</h2>

<% form_for :user, @user, :url => { :action => "create" } do |f| %>
	<%= f.error_messages %>
	
	<p>
		<%= f.label :first_name %>
		<br />
		<%= f.text_field :first_name, :size => 30, :tabindex => 1, :class => "textField" %>
		<span title="First Name|e.g. Bob, Fred, Alice..." class="clueTip" style="display:none;">[?]</span>
	</p>
	
	<p>
		<%= f.label :last_name %>
		<br />
		<%= f.text_field :last_name, :size => 30, :tabindex => 2, :class => "textField"  %>
		<span title="Last Name|e.g. Johnson, Torvalds, Brown.." class="clueTip" style="display:none;">[?]</span>
	</p>
	
	<p>
		<%= f.label :email %>
		<br />
		<%= f.text_field :email, :size => 30, :tabindex => 3, :class => "textField"  %>
		<span title="Email|e.g. bob@example.org" class="clueTip" style="display:none;">[?]</span>
	</p>

	<p>
		<%= f.label :username, "Desired Username" %>
		<br />
		<%= f.text_field :username, :size => 30, :tabindex => 4, :class => "textField"  %>
		<span title="Your login name|e.g. bob87, surfboy, superh4x0r" class="clueTip" style="display:none;">[?]</span>
	</p>
	
	<p>
		<%= f.label :password %>
		<br />
		<%= f.password_field :password, :size => 30, :tabindex => 5, :class => "textField"  %>
		<span title="Password|Something super complex.  A minimum of 6 characters." class="clueTip" style="display:none;">[?]</span>
	</p>
	
	<p>
		<%= f.label :password_confirmation %>
		<br />
		<%= f.password_field :password_confirmation, :size => 30, :tabindex => 6, :class => "textField"  %>
		<span title="Confirm Password|And repeat to eliminate typos" class="clueTip" style="display:none;">[?]</span>
	</p>

	<% if RCC_ENABLED %> 
	<p>
		<%= get_captcha(:options => {:tabindex => 7}) %>
	</p>
	<% end %>
	
	<p>
		<%= f.submit "Register", :class => "submit", :tabindex => 8 %>
	</p>
<% end %>
