<div class="box" id="welcomeBox">
	<h2 class="title">Welcome</h2>
	<p>This the the web site of the HAAGA-HELIA Linux Club.  I don't really know what we're supposed to say here, but it really should be possible to set this text through a setting of some sort (as opposed to manually editing the source file).</p>
</div>

<div class="box" id="featuredArticleBox">
	<p style="font-size: x-small; color: red;">Featured</p>
	<h2>Header</h2>
	<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante leo, mattis et, viverra vel, consectetur non, nisl.
	</p>
	<p>
	Cuum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut interdum mattis quam. Ut vel tortor nec lorem dignissim adipiscing. Maecenas eros quam, tincidunt quis, condimentum nec, tincidunt eu. 
	</p>
	<p style="text-align: right;">
	<a href="#"><span style="font-size: x-small;">More...</span></a>
	</p>
</div>

<div class="box" id="latestNewsBox">
	<p style="font-size: x-small; color: red;">Latest</p>
	<h2>News</h2>
	<ul>
	<% for news_article in @news %>
		<li class="date"><%= distance_of_time_in_words(news_article.created_at, Time.now) %> ago</li>
		<li class="boxItem"><%= link_to news_article.title, news_article_url(news_article) %></li>
	<% end %>	
	</ul>
</div>

<div class="box" id="upcomingEventsBox">
	<p style="font-size: x-small; color: red;">Upcoming</p>
	<h2>Events</h2>
	<ul>
	<% for event in @events %>
		<li class="date"><%= format_event_dates(event) %></li>
		<li class="boxItem"><%= link_to event.name, event_url(event) %></li>
	<% end %>	
	</ul>
</div>

<div class="box" id="feedsBox">
	<h3>Feeds</h3>
	<p>
			<%= link_to "News", { :controller => "news", :action => "index", :format => "atom" }, { :class => "feedLink" } %>

			<%= link_to "Articles", { :controller => "articles", :action => "index", :format => "atom" }, { :class => "feedLink" } %>

			<%= link_to "Events", { :controller => "events", :action => "index", :format => "atom" }, { :class => "feedLink" } %>
	</p>
</div>

<div class="box" id="loginBox">
<% if logged_in? %>
	<p id="homeRegisterLink"><%= link_to "Logout", :controller => "users", :action => "logout" %></p>
	<h3>Logged in as <em><%= @user.username %></em></h3>
	<ul>
		<li><%= link_to "Profile", :controller => "users", :action => "profile" %></li>
		<li><%= link_to "Administration", :controller => "/admin" %></li>
	</ul>
<% else %>
	<p id="homeRegisterLink"><%= link_to "Register", :controller => "users", :action => "register" %></p>
		<h3>Login</h3>
		<% form_remote_tag :url => "/users/login" do %>
			<p>
			<%= text_field_tag :username, params[:username], :size => 12, :value => "Username", :tabindex => 1, :class => "field" %>
			<%= password_field_tag :password, params[:password], :size => 12, :value => "password", :tabindex => 2, :class => "field" %>
			<%= submit_tag "Login", :tabindex => 3 %></p>
			<p><%= check_box_tag :remember_me, params[:remember_me] %>
			<label for="remember_me">Remember me</label></p>
		<% end %>
<% end %>
</div>
