<div class="box" id="welcomeBox">
	<h2 class="title">Welcome to <%= image_tag "hhlinuxclub_logo.png", :alt => "HHLinuxClub logo" %></h2>
	<p><%= @welcome_message %></p>
</div>
	
<div class="box" id="leftColumn">
	<div class="box" id="upcomingEventsBox">
		<h3 class="homeTitle">Events</h3>
		<% if @events.empty? %>
			<p>There are no upcoming events at the moment.</p>
		<% else %>
			<ul>
			<% for event in @events %>
				<li class="date"><%= format_event_dates(event) %></li>
				<li class="boxItem"><%= link_to event.name, event_path(event) %></li>
			<% end %>	
			</ul>
		<% end %>
	</div>
	
	<div class="box" id="feedsBox">
		<h3 class="homeTitle">Feeds</h3>
		<p>
				<%= link_to "News", { :controller => "news", :action => "index", :format => "atom", :protocol => 'http://', :only_path => false }, { :class => "feedLink" } %>
				<%= link_to "Articles", { :controller => "articles", :action => "index", :format => "atom", :protocol => 'http://', :only_path => false }, { :class => "feedLink" } %>
				<%= link_to "Events", { :controller => "events", :action => "index", :format => "atom", :protocol => 'http://', :only_path => false }, { :class => "feedLink" } %>
		</p>
	</div>
</div>

<div class="box" id="rightColumn">
  	<div class="box" id="featuredArticleBox">
    <% unless @featured_article.nil? %>
      <h3 class="homeTitle">Featured: <%=h @featured_article.title %></h3>
      <%= image_tag @featured_article.image.upload.url(:square), :alt => @featured_article.image.description, :class => "image" unless @featured_article.image.nil? %>
      <p><%=h @featured_article.description %></p>
      <p style="text-align: right;">
        <%= link_to	"More...", article_path(@featured_article) %>
      </p>
    <% end %> 
	</div>
  
	<div class="box" id="latestNewsBox">
		<h3 class="homeTitle">Latest News & Articles</h3>
		<% if @articles_and_news.empty? %>
			<p>Nothing has been published yet.</p>
		<% else %>
			<ul>
			<% for item in @articles_and_news %>
				<li class="date"><%=h distance_of_time_in_words(item.published_at, Time.now) %> ago</li>
				<li class="boxItem">
          <span class="classname" title="<%= item.class.class_name %>">
            [<%= item.class.class_name %>]
          </span>
          <%= link_to item.title, item %>
        </li>
			<% end %>	
			</ul>
		<% end %>
	</div>
</div>
