<div class="box" id="welcomeBox">
	<h2 class="title">Welcome to <span class="h2Logo">HHLinuxClub</span></h2>
	<p><%= @welcome_message %></p>
</div>
	
<div class="box" id="leftColumn">
	<div class="box" id="upcomingEventsBox">
		<h3 class="homeTitle">Events</h3>
		<ul>
		<% for event in @events %>
			<li class="date"><%= format_event_dates(event) %></li>
			<li class="boxItem"><%= link_to event.name, event_details_path(:id => event.id, :name => urlify(event.name)) %></li>
		<% end %>	
		</ul>
	</div>
	
	<div class="box" id="feedsBox">
		<h3 class="homeTitle">Feeds</h3>
		<p>
				<%= link_to "News", { :controller => "news", :action => "index", :format => "atom" }, { :class => "feedLink" } %>

				<%= link_to "Articles", { :controller => "articles", :action => "index", :format => "atom" }, { :class => "feedLink" } %>

				<%= link_to "Events", { :controller => "events", :action => "index", :format => "atom" }, { :class => "feedLink" } %>
		</p>
	</div>
</div>

<div class="box" id="rightColumn">
	<div class="box" id="latestNewsBox">
		<h3 class="homeTitle">Latest News</h3>
		<ul>
		<% for news_article in @news %>
			<li class="date"><%=h distance_of_time_in_words(news_article.created_at, Time.now) %> ago</li>
			<li class="boxItem"><%= link_to news_article.title, news_article_details_path(:id => news_article.id, :title => urlify(news_article.title)) %></li>
		<% end %>	
		</ul>
	</div>
	
		<div class="box" id="featuredArticleBox">
	<% unless @featured_article.nil? %>
		<h3 class="homeTitle"><%=h @featured_article.title %></h3>
		<p><%=h @featured_article.description %></p>
		<p style="text-align: right;">
			<%= link_to	"More...", article_details_path(:id => @featured_article.id, :title => urlify(@featured_article.title)) %>
		</p>
	<% end %>
	</div>
</div>
