<% if @ongoing_events.size > 0 %>
	<h2 class="title">Ongoing events</h2>
	<% for event in @ongoing_events %>
		<h3><%= link_to event.name, event %></h3>
		<p><%=h format_event_dates(event) %></p>
	<% end %>
<% end %>

<h2 class="title">Upcoming events</h2>
<% if @upcoming_events.size > 0 %>
	<% for event in @upcoming_events %>
		<h3><%= link_to event.name, event %></h3>
		<p><%=h format_event_dates(event) %></p>
	<% end %>
<% else %>
	<p>There are no upcoming events at this moment. Please check later, as all events are posted here.</p>
<% end %>

<p>Interested in past events? Please check them <%= link_to "here", :action => "past" %>.</p>