<% title @event.name %>

<p class="metadata"><%= format_event_dates(@event) %></p>

<% if can_edit?(@event) %>
	<p class="adminLinks">
		<%= link_to "[ edit this event ]", edit_admin_event_path(@event) %>
	</p>
<% end %>

<p>
	<b>Address: </b><%=h @event.address %>
	<br />
	<b>Location: </b><%=h @event.location %>
</p>

<%= textilize(@event.description) %>

<%= render :partial => "/assets/downloads", :locals => { :assetable => @event } %>
