<%= render :partial => "/metadata" %>

<h2 class="title">Latest News</h2>
<% for news_article in @news %>
	<div class="news_article">
		<h3 class="title"><%= link_to(news_article.title, news_article_path(news_article)) %></h3>
		<p class="metadata">
			<%=h distance_of_time_in_words(news_article.created_at, Time.now) %> ago
			by <%= link_to_profile news_article.user %>
		</p>
		<%= RedCloth.new(news_article.body).to_html %>
	</div>
<% end %>

<%= will_paginate @news %>
