<% for news_article in @news %>
	<div class="news_article">
		<h3 class="title"><%= link_to(news_article.title, :controller => :news, :action => :show, :id => news_article.id) %></h3>
		<p class="metadata">
			<%=h format_date(news_article.created_at) %>
			by <%=h news_article.user.first_name + " " + news_article.user.last_name %>
		</p>
		<%= RedCloth.new(news_article.body).to_html %>
	</div>
<% end %>

<p><%= will_paginate @news %></p>
