<% title "Latest News" %>

<% for news_article in @news %>
	<div class="newsArticle">
		<%= image_tag news_article.image.upload.url(:square), :alt => news_article.image.description, :class => "image" unless news_article.image.nil? %>
		<h3 class="title"><%= link_to(news_article.title, news_path(news_article)) %></h3>
		<p class="metadata">
			<%=h time_ago_in_words(news_article.published_at) %> ago
			by <%= link_to_profile news_article.user %>
		</p>
		<%= RedCloth.new(news_article.body).to_html %>
	</div>
<% end %>

<%= will_paginate @news %>
