<h2 class="title"><%=h @news_article.title %></h2>
<p class="metadata">
	<%=h long_date(@news_article.published_at) %>
	by <%= link_to_profile @news_article.user %>
</p>

<% if can_edit?(@news_article) %>
	<p class="adminLinks">
		<%= link_to "[ edit this news article ]", edit_admin_news_article_path(@news_article) %>
	</p>
<% end %>

<%= RedCloth.new(@news_article.body).to_html %>

<%= render :partial => "/assets/downloads", :locals => { :assetable => @news_article } %>