<h2 class="title">Administration</h2>

<p><strong>Welcome to the administration of the HAAGA-HELIA Linux Club website.</strong></p>

<p>
	Your current role is <em><%= @role.name %></em>.
</p>
<p>
	This means that you can:
	<ul class="privileges">
		<% for privilege in @role.privileges %>
			<li class="privileges"><%= privilege %></li>
		<% end %>
	</ul>
</p>

<div>
  <h3>Statistics</h3>
  <table id="statistics">
    <tr>
      <th>&nbsp;</th>
      <th>News</th>
      <th>Articles</th>
      <th>Events</th>
      <th>Galleries</th>
    </tr>
    <tr>
      <th><%= image_tag("tango/16px/publish.png", :alt => "Published") %> Published</th>
      <td><%= @news_stats[:published] %></td>
      <td><%= @article_stats[:published] %></td>
      <td><%= @event_stats[:published] %></td>
      <td><%= @gallery_stats[:published] %></td>
    </tr>
    <tr>
      <th><%= image_tag("tango/16px/unpublish.png", :alt => "Unublished") %> Unpublished</th>
      <td><%= @news_stats[:unpublished] %></td>
      <td><%= @article_stats[:unpublished] %></td>
      <td><%= @event_stats[:unpublished] %></td>
      <td><%= @gallery_stats[:unpublished] %></td>
    </tr>
    <tr>
      <th>Total</th>
      <td><%= @news_stats[:total] %></td>
      <td><%= @article_stats[:total] %></td>
      <td><%= @event_stats[:total] %></td>
      <td><%= @gallery_stats[:total] %></td>
    </tr>
  </table>
</div>

<% if current_user.role.can_administer? %>
  <div>
    <h3>System Information</h3>
    <ul class="privileges">
      <li class="privileges"><strong>Platform identifier:</strong> <%= @sysinfo.to_s %></li>
      <li class="privileges"><strong>Hostname:</strong> <%= @sysinfo.hostname %></li>
      <li class="privileges"><strong>IP Address:</strong> <%= @sysinfo.ipaddress_internal %></li>
      <li class="privileges"><strong>Ruby version:</strong> <%= @sysinfo.ruby.join('.' )%></li>
      <li class="privileges"><strong>Up since:</strong> <%= short_date(@sysinfo.uptime.hours.ago) %></li>
      <li class="privileges"><strong>Uptime:</strong> <%= "#{pluralize(@uptime[:days], 'day')}
                                      #{pluralize(@uptime[:hours], 'hour')}
                                      #{pluralize(@uptime[:minutes], 'minute')}
                                      #{pluralize(@uptime[:seconds], 'second')}" %> 
    </ul>
  </div>
<% end %>