<h2 class="title">Contact</h2>
<% if !@contacts.empty? %>
	<p>All fields are compulsory.</p>
	<% form_tag :action => "send_email" do %>
		<p>
			<label for="contact">Contact:</label><br />
			<%= collection_select(:user, :user_id, @contacts, :id, :name_with_title) %>
		</p>
		
		<% unless logged_in? %>
		<div id="fieldsForUnregisteredUsers">
			<p>
				<label for="name">Your name:</label><br />
				<%= text_field_tag :name, params[:name], :size => 30 %>
			</p>
		
			<p>
				<label for="email">Your email:</label><br />
				<%= text_field_tag :email, params[:email], :size => 30 %>
			</p>
		</div>
		<% end %>
		
		<p>
			<label for="subject">Subject:</label><br />
			<%= text_field_tag :subject, params[:subject], :size => 53 %>
		</p>
	
		<p>
			<label for="message">Message:</label><br />
			<%= text_area_tag :message, params[:message], :cols => 60, :rows => 10 %>
		</p>
		
		<% if !logged_in? && RCC_ENABLED %>
			<p>
				<%= get_captcha %>
			</p>
		<% elsif !logged_in? && !RCC_ENABLED %>
			<p>
				<label for="are_you_a_computer">Are you a computer?</label>
				<%=  check_box_tag 'are_you_a_computer', 'yes', true %>
				(uncheck this if you aren't a spam bot)
			</p>
		<% end %>
		
		<p><%= submit_tag "Send" %></p>
	<% end %>
<% else %>
	<p>The administrators of this site haven't added any contacts.</p>
<% end %>
