<h2 class="title">Users</h2>

<p><%= link_to "Add user", new_admin_user_path, :class => 'add' %></p>

<% form_tag("/admin/users/action") do %>
	<label for="actions">Actions:</label>
	<select name="actions">
		<option value="delete" class="delete">Delete</option>
		<option value="make_contactable">Add to contacts</option>
		<option value="make_uncontactable">Remove from contacts</option>
	</select>
	<%= submit_tag "Do action" %>
	
<table>
	<tr>
		<th></th>
		<th>User</th>
		<th>Email</th>
		<th>Role</th>
		<th>Contact</th>
	</tr>

<% for user in @users %>
	<tr class="<%= cycle("odd", "even") %>">
		<td class="radio"><input type="radio" name="user" value="<%=h user.id %>" /></td>
		<td><%= link_to user.username, { :id => user.id, :action => "edit" }, { :title => "Edit", :class => "listingTitle" } %><br />
	    		<%=h user.last_name %>, <%=h user.first_name %>
	    </td>
		<td style="text-align: center;"><%=h user.email %></td>
		<td style="text-align: center;"><%=h user.role.name %></td>
		<td style="text-align: center;">
			<% if user.contactable? %>
				<%= image_tag("tango/16px/contact.png", :alt => "Is a contact", :title => "Is a contact") %>
			<% else %>
				<%= image_tag("tango/16px/not_contact.png", :alt => "Is not a contact", :title => "Is not a contact") %>
			<% end %>
		</td>
	</tr>
<% end %>

</table>
<% end %>

