<h2 class="title">Users</h2>

<p><%= link_to "Add user", new_admin_user_path, :class => 'add' %></p>

<table>
	<tr>
		<th>Username</th>
		<th>First name</th>
		<th>Last name</th>
		<th>Email</th>
		<th>Role</th>
		<th>Actions</th>
	</tr>

<% for user in @users %>
	<tr>
		<td><%=h user.username %></td>
		<td><%=h user.first_name %></td>
		<td><%=h user.last_name %></td>
		<td><%=h user.email %></td>
		<td><%=h user.role.name %></td>
		<td>
			<%= render :partial => "admin/actions", :locals => { :content => user } %>
		</td>
	</tr>
<% end %>

</table>
