<h2 class="title">Users</h2>

<p><%= link_to "Add user", new_admin_user_path, :class => 'add' %></p>

<table>
	<tr>
		<th>Username</th>
		<th>First name</th>
		<th>Last name</th>
		<th>Email</th>
		<th>Role</th>
		<th>Actions</th>
	</tr>

<% for user in @users %>
	<tr>
		<td><%=h user.username %></td>
		<td><%=h user.first_name %></td>
		<td><%=h user.last_name %></td>
		<td><%=h user.email %></td>
		<td><%=h user.role.name %></td>
		<td>
			<%= link_to image_tag("icons/show.png", :alt => "Show"), admin_user_path(user) %>
			<% if !user.role.can_administer or user.id == session[:user_id] %>
				<%= link_to image_tag("icons/edit.png", :alt => "Edit"), edit_admin_user_path(user) %>
			<% end %>
			<% if !user.role.can_administer? %>
				<%= link_to image_tag("icons/destroy.png", :alt => "Destroy"), admin_user_path(user), :confirm => "Are you sure?", :method => :delete %>
			<% end %>
		</td>
	</tr>
<% end %>

</table>
