<h2 class="title">Users</h2>

<p><%= link_to "Add user", new_admin_user_path, :class => 'add' %></p>

<table>
	<tr>
		<th></th>
		<th>User</th>
		<th>Email</th>
		<th>Role</th>
		<th></th>
	</tr>

<% for user in @users %>
	<tr>
		<td class="radio"><input type="radio" name="user" value="<%=h user.id %>" /></td>
		<td><%= link_to user.username, { :id => user.id, :action => "edit" }, { :title => "Edit", :class => "listingTitle" } %><br />
	    		<%=h user.last_name %>, <%=h user.first_name %>
	    </td>
		<td><%=h user.email %></td>
		<td><%=h user.role.name %></td>
	</tr>
<% end %>

</table>
