<div class="sidebar" id="feeds_sidebar">
	<h2>Feeds</h2>
	<table id="sidebarFeeds">
		<tr>
			<td><%= link_to ( image_tag "feed_16.png", :alt => "News feed" ), :controller => "news", :action => "index", :format => "atom" %></td>
			<td><%= link_to "News", :controller => "news", :action => "index", :format => "atom" %></td>
		</tr>
		<tr>
			<td><%= link_to ( image_tag "feed_16.png", :alt => "Articles feed" ), :controller => "articles", :action => "index", :format => "atom" %></td>
			<td><%= link_to "Articles", :controller => "articles", :action => "index", :format => "atom" %></td>
		</tr>
		<tr>
			<td><%= image_tag "feed_16.png", :alt => "Events feed" %></td>
			<td>Events</td>
		</tr>
	</table>
</div>