<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
        <title><%= controller.controller_name.capitalize %> &brvbar;&brvbar; HHLinuxClub.org</title>
        <% bundle :name => "admin" do %>
		      <%= stylesheet_link_tag "admin", "jquery-ui", 'password_strength_plugin', "SyntaxHighlighter/shThemeDefault", "SyntaxHighlighter/shCore", "markitup", "markitup.textile" %>
				<% end %>
				
				<%= render :partial => "layouts/javascript" %>
				
				<link rel="icon" type="image/png" href="/favicon.ico" />
    </head>
    <body>
            <div id="header">
                <%= link_to (image_tag "h2Logo.png", :alt => "Haaga-Helia Linux Club"), :root %>
                <%= render :partial => "/users/userlinks" %>
            </div>
            <div id="container">
								<ul id="adminNavigation">
									<li class="homeLink"><%= link_to "Home", :controller => "home", :action => "index" %></li>
									<li class="newsLink"><%= link_to "News", admin_news_path %></li>
									<li class="articlesLink"><%= link_to "Articles", admin_articles_path %></li>
									<li class="eventsLink"><%= link_to "Events", admin_events_path %></li>
									<li class="usersLink"><%= link_to "Users", admin_users_path %></li>
									<li class="aboutLink"><%= link_to "About", :controller => "about", :action => "index"%></li>
								</ul>
		          	<div id="content">
		              <p id="flash">
		                  <span id="flashNotice"><%= flash[:notice] %></span>
											<span id="flashError"><%= flash[:error] %></span>
		              </p>
		              <%= yield %>
		          	</div>
            </div>
    </body>
</html>

