<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
        <%= display_meta_tags :site => "Administration - HHLinuxClub.org", :reverse => true %>

	      <%= stylesheet_link_tag "admin" %>
		  	<%= render :partial => "layouts/stylesheets" %>

				<%= render :partial => "layouts/javascript" %>
				<%= javascript_include_tag "jquery-ui", "jquery.cookie", "administration", :cache => "cache/administration" %>

				<link rel="icon" type="image/png" href="/favicon.ico" />
    </head>
    <body>
            <div id="header">
                <%= link_to (image_tag "hhlinuxclub_logo.png", :alt => "Haaga-Helia Linux Club"), :root %>
                <%= render :partial => "/users/userlinks" %>
            </div>
            <div id="container">
								<ul id="adminNavigation">
									<li class="homeLink"><%= link_to "Home", :controller => "home", :action => "index" %></li>
									<li class="newsLink"><%= link_to "News", admin_news_path %></li>
									<li class="articlesLink"><%= link_to "Articles", admin_articles_path %></li>
									<li class="eventsLink"><%= link_to "Events", admin_events_path %></li>
									<li class="galleriesLink"><%= link_to "Galleries", admin_galleries_path %></li>
									<li class="aboutLink"><%= link_to "About", :controller => "about", :action => "index"%></li>
									<% if User.find(session[:user_id]).role.can_administer? %>
										<li class="usersLink"><%= link_to "Users", admin_users_path %></li>
										<li class="settingsLink"><%= link_to "Settings", :controller => "settings", :action => "index" %></li>
									<% end %>
								</ul>
		          	<div id="content">
		              <p id="flash">
		                  <span id="flashNotice"><%= flash[:notice] %></span>
											<span id="flashError"><%= flash[:error] %></span>
		              </p>
		              <%= yield %>
		          	</div>
            </div>
    </body>
</html>
