<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title><%= controller.controller_name.capitalize %> &#8211; HHLinuxClub.org</title>
        <%= stylesheet_link_tag 'screen' %>
				<%= javascript_include_tag :defaults %>	
				<%= textile_editor_initialize if admin_namespace? -%>		
				<% if controller.controller_name == "home" %>
					<%= auto_discovery_link_tag(:atom, "/news.atom", {:title => "News"}) %>
					<%= auto_discovery_link_tag(:atom, "/articles.atom", {:title => "Articles"}) %>
					<%= auto_discovery_link_tag(:atom, "/events.atom", {:title => "Events"}) %>
				<% elsif %w[news articles events].include? controller.controller_name %>
					<%= auto_discovery_link_tag(:atom, "/#{controller.controller_name}.atom", {:title => controller.controller_name.capitalize}) %>
				<% end %>
				<link rel="icon" type="image/png" href="/favicon.ico" />
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1>HAAGA-HELIA Linux Club</h1>
		    <div id="navigation">
		        <%= navigation("home", "news", "articles", "events", "about", "contact") %>
		    </div>
            </div>
            <div id="content">
						<% unless controller.controller_path == "home" %>
                <div id="sidebars">
                    <% if admin_namespace? %>
                    <%= render :partial => "admin/admin_sidebar" %>
                    <% end %>
                    <%= render :partial => "users/users_sidebar" %>
                    <% if admin_namespace? %>
                    <%= render :partial => "admin/admin_sidebar_legend" %>
                    <% end %>
										<%= render :partial => "/feeds_sidebar" %>
									</div>
								<% end %>	
                <p id="flash">
                    <span id="flashNotice"><%= flash[:notice] %></span>
										<span id="flashError"><%= flash[:error] %></span>
                </p>
                <%= yield %>
            </div>
            <div id="footer">
                <p>
                    All the content on this website is provided as-is and released under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0 License</a>.
                    <br/>
                    The copyright of each article belongs to its author.
                </p>
            </div>
        </div>
    </body>
</html>

