<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <%= display_meta_tags :site => "HHLinuxClub.org", :reverse => true %>
      	
        <% bundle :name => "frontend" do %>
		      <%= stylesheet_link_tag 'frontend', 'lightbox', 'jquery-ui', 'password_strength_plugin', 'SyntaxHighlighter/shThemeDefault', 'SyntaxHighlighter/shCore', "markitup", "markitup.textile", "jquery.cluetip" %>
				<% end %>
				
				<%= render :partial => "layouts/javascript" %>
				
				<% if controller.controller_name == "home" %>
					<%= auto_discovery_link_tag(:atom, "/news.atom", {:title => "News"}) %>
					<%= auto_discovery_link_tag(:atom, "/articles.atom", {:title => "Articles"}) %>
					<%= auto_discovery_link_tag(:atom, "/events.atom", {:title => "Events"}) %>
				<% elsif %w[news articles events].include? controller.controller_name %>
					<%= auto_discovery_link_tag(:atom, "/#{controller.controller_name}.atom", {:title => controller.controller_name.capitalize}) %>
				<% end %>
				<link rel="icon" type="image/png" href="/favicon.ico" />
    </head>
    <body>
    <% unless logged_in? %>
	    <div id="loginDialog" style="display: none;">
					<%= render :partial => "/users/login_form", :locals => { :form_id => "jsLogin" } %>
		</div>
	<% end %>

        <div id="container">
            <div id="header">
                <h1>HAAGA-HELIA Linux Club</h1>
		    <div id="navigation">
		        <%= navigation("home", "news", "articles", "events", "about", "contact") %>
		    </div>
		    <%= render :partial => "/users/userlinks" %>
		    <div id="flash">
          <span id="flashNotice"><%= flash[:notice] %></span>
					<span id="flashError"><%= flash[:error] %></span>
        </div>
            </div>
            <div id="content" class="<%= controller.controller_name.to_s unless admin_namespace? %>">
                <%= yield %>
            </div>
            <div id="footer">
                <p>
                    All the content on this website is provided as-is and released under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0 License</a>.
                    <br/>
                    The copyright of each article belongs to its author.
                </p>
            </div>
        </div>
    </body>
</html>

